[submodule "fhe/test/googletest"]
	path = fhe/test/googletest
	url = https://github.com/google/googletest.git
[submodule "benchmark"]
	path = fhe/bench/benchmark
	url = https://github.com/google/benchmark.git
[submodule "cxxopts"]
	path = log_regr/external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "tfhe_torus_generic"]
	path = log_regr/external/tfhe_torus_generic
	url = git@github.com:tfhe/tfhe.git
	branch = torus_generic
